@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION BAR */
header {
    background-color: white;
    width: 100%;
    height: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 50px; 
    margin-top: 1%;
}
.open_menu{
    display: none;
    font-size: 20px;
}
.close_menu{
    display: none;
}
.logo{
    padding-left: 9%;
}
.logo a {
    font-size: 35px;
    font-weight: 600;
    color: #2172AA;
    display: flex;
    align-items: center;
}

.logo a span {
    font-weight: normal;
    color: black;
}

.menudo {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

li a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.15s ease-in-out;
}

li a:hover {
    color: #2172AA;
    text-decoration: underline;
}

.nav-right {
    display: flex;
    gap: 15px;
    margin-top: 1%;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #2172AA;
    border-radius: 8px;
    width: 125px;
    text-align: center;
}

.menu-login, .menu-signup {
    display: none;
}

.log {
    background: #2172AA;
}

.log a {
    color: white;
    font-size: 20px;
}
.log:hover{
    background-color: white;
}
.log:hover a{
    color: black;
}

.sign {
    background: transparent;
}

.sign a {
    color: black;
    font-size: 20px;
}

.sign:hover {
    background: #2172AA;
    color: white;
}

.sign:hover a {
    color: white;
}

/* end of nav bar */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
}

.bgImage {
    width: 50%;
    height: 100%;
    background: url('image2.svg') no-repeat center center/cover;
    position: relative;
}

.malakingSignUp {
    width: 50%;
    height: 100%;
    align-content: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.malakingSignUp h1 {
    color: #2172AA;
    font-weight: bold;
    font-size: 50px;
    height: 10vh;
    margin-bottom: 20px;
    text-align: left;
}
.malakingSignUp i{
    font-size: 40px;
    color: #2172AA;
    cursor: pointer;
    margin-bottom: 10px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 10px; 
}

.name-container .input-container {
    width: 48%; 
}
.signup-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 50%;
}

.input-container label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f2f2f2;
}

#birthday {
    background: #f2f2f2 url('calendar-icon.png') no-repeat right 15px center;
    background-size: 20px;
    cursor: pointer;
}

#birthday, #gender {
    width: 50%; 
    max-width: 300px; 
}


#gender {
    appearance: none;
    background: #f2f2f2 url('arrow-down-long-line.png') no-repeat right 15px center;
    background-size: 15px;
    padding-right: 35px;
    cursor: pointer;
}

#phone {
    background: #f2f2f2;
    width: 60%;
}

.continue-btn {
    width: 50%;
    margin-top: 20px;
    background: #2172AA;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.continue-btn:hover {
    background: #195b8a;
}

.login-text {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    padding-left: 10%;
}

.login-text a {
    color: #2172AA;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    body {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; 
    }

    .header {
        width: 100vw; 
        max-width: 100%; 
        text-align: center;
    }

    .navbar {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .nav-left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logo {
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    .menudo {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background: #2172AA;  
        box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        padding: 20px;
        text-align: center;
    }

    .menudo.show {
        display: flex;
    }

    .menudo li {
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .menudo li a {
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        transition: 0.15s ease-in-out
    }

    .menudo li a:hover {
        color: black;
    }

    .menu-login, .menu-signup {
        display: block;
        margin-top: 20px;
    }

    #menu-toggle {
        display: block;
    }

    .open_menu {
        text-align: center;
        position: relative;
        cursor: pointer; 
        font-size: 30px;
        z-index: 1000;
    }

    .open_menu i{
        font-size: 40px;
    }

    .menu-login, .menu-signup {
        display: block;
    }

    .nav-right {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .malakingSignUp {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .malakingSignUp i{
        position: absolute;
        left: 10px; 
        top: 100px; 
        font-size: 30px; 
        cursor: pointer;
    }

    .malakingSignUp h1 {
        font-size: 40px;
        padding-bottom: 5px;
        text-align: center;
    }
    .progress{
        padding-bottom : 5px;
    }

    .name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 400px;
    }
    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 400px;
    }

    .input-box {
        width: 100%;
        max-width: 350px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 10px 10px 40px; 
    }
    .input-box input {
        width: 100%;
        width: 80%;
        display: flex;
        padding: 10px 10px 10px 40px;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 20px;
    }
    .input-box i {
        position: absolute;
        left: 10px; 
        font-size: 20px;
        color: gray;
        padding: 10px 10px 10px 40px;
    }
    .continue-btn {
        width: 80%;
        align-self: center;
    }
    .login-text p{
        font-size: 10px;
    }
    .login-text a{
        font-size: 20px;
        margin-top: 10px;
    }

    .bgImage {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    
    body {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center; 
        margin: 0;
        padding: 20px;
        height: 100vh;
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center; 
        align-content: center;
        text-align: center;
        padding: 20px
    }
    .navbar {
        display: flex;
        gap: 20px; 
    }
    .nav-left{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .logo {
        font-size: 24px;
        padding: 0%;
    }

    .menudo {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 80px;
        left: 0;
        width: 40%;
        height: calc(100vh - 80px);
        background: #2172AA; 
        box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        z-index: 1000;
    }

    .menudo.show {
        display: flex;
    }

    .menudo li {
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .menudo li a {
        font-size: 18px;
        font-weight: bold;
        color: white; 
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
    }

    .menudo li a:hover {
        color: black; 
    }
    .menu-login, .menu-signup {
        display: block;
        margin-top: 20px;
    }
    .open_menu {
        display: block;
        text-align: center;
        position: absolute;
        left: 20px;
        top: 30px;
        align-content: flex-start;
        cursor: pointer; 
        font-size: 30px;

    }
    .open_menu i{
        font-size: 40px;
    }

    .menu-login, .menu-signup {
        display: block;
        border: #195b8a;
    }
    .nav-right {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height:100vh;
    }

    .malakingSignUp {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }
    .malakingSignUp i{
        position: absolute;
        top: 20px; 
        left: 20px; 
        font-size: 30px; 
        cursor: pointer;
    }
    .input-container,
    .name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .continue-btn {
        width: 50%;
        align-self: center;
    }

    .login-text p{
        align-content: center;
        text-align: center;
    }

    .bgImage {
        display: none;
    }
}